body {
    
    padding-top: 800px;
    text-align: center;
    color: black;
    font-family:  'Radio Canada', sans-serif;
    
}

#profile {
    width: 500px;
    
  text-align: center;
    
    margin-top: 100px;

}



#welcome {
    position: absolute;
    overflow: hidden;
    height: 1000px;
    color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    z-index:9;


}

#aboutus
{
    font-family:  'Radio Canada', sans-serif;
 
  
}

#aboutus p{
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
}
.parallex-inner {
    display: table-cell;
    position: relative;
    text-align: justify;
    vertical-align: middle;


}

#nos
{
    font-weight:bold;
    font-family:  'Radio Canada', sans-serif;

}

img{
    padding: 50px;
}

/*.line {
   
    float:left;
    margin: 8px auto;


}*/

#myNavbar {
    
    position:fixed;
    width: 100%;
    height:5%;
    top: 0px;
    z-index: 12;
    cursor: pointer;
    background:#143F6B ;
   

}

#myNavbar a {
    

    color: white;

}

/*#social
{
    display: flex;   
    float:right;
    margin:0;
    padding:0;
}
#mail,#fb,#linkedin
{
    
    display:inline-block;
  margin-bottom:300px;
}*/

.links {
     padding-left: 33px;
    padding-right: 25px;
    font-size:20px;
    display: inline;
    font-family:  'Radio Canada', sans-serif;
}

.links:hover {
    background-color: white;
}

#whatwedo {
    color: black;
    
    font-family:  'Radio Canada', sans-serif;

}

#principals h1{
    color: black;
    
    font-family:  'Radio Canada', sans-serif;

}

#whatwedo p
{
    text-align: justify;
    font-family:  'Radio Canada', sans-serif;
}




p {
    font-size: 25px;
}

.image {
    width: 400px;
    height: 300px
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#contacts,#products h1
{
    color: black;
    
    font-family:  'Radio Canada', sans-serif;
}


.container{
    background-color: white;

    
}
#myCarousel {
    background-color: #E0D8B0;
    font-family:  'Radio Canada', sans-serif;
    text-align: left;
   

}

.carousel .item {
    height: 600px;
    width : 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  #myCarousel h4,li{
      padding : 10px;
      
      text-align: center, justify-left;
    
  }
  #myCarousel h4{
    text-align : center;
    font-size: 24;
    font-weight :bold;
  
}
  #myCarousel li{
    padding : 10px;
    font-size : 16;
}

#myCarousel ul{
    
        text-align: justify;
        list-style-position: inside;
    
}